/* 

0 - 600px:   Phone
600 - 900px:   Tablet portrait
900 - 1200px:  Tablet landscape
[1200 - 1800] is where normal style apply
1800px +  : Big desktop

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html, body {
  padding: 1rem;
  background-color: black;
  /* color: #555; */
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 62.5%;
  /* font size is 1rem, bc default size is 16 px so 10/16 * 100 = 62,5% */
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix {
  zoom: 1; }

.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden; }

.row {
  max-width: 114rem;
  margin: 0 auto; }

h1, h2, h3 {
  font-weight: 300;
  text-transform: uppercase; }

h1 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 200%;
  word-spacing: 0.4rem;
  letter-spacing: 0.1rem; }

h2 {
  margin-bottom: 3rem;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 3rem;
  letter-spacing: 0.1rem;
  color: var(--color-h2); }

h3 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: var(--color-h3); }

h2:after:not(:last-child) {
  display: block;
  height: 0.2rem;
  background-color: #e67e22;
  content: " ";
  width: 10rem;
  margin: 0 auto;
  margin-top: 3rem; }

/* p {
    font-size: 1.8rem;
    line-height: 145%;
} */
p {
  font-size: 2rem;
  line-height: 145%;
  color: var(--color-box-p); }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 2rem;
  background: var(--color-button);
  color: white;
  font-weight: 700;
  margin: 3rem 0; }

.btn:hover {
  -webkit-transform: translateY(-0.3rem);
  transform: translateY(-0.3rem);
  -webkit-box-shadow: 0 1rem 2rem #000000;
  box-shadow: 0 1rem 2rem #000000; }

.btn:active {
  -webkit-transform: translateY(-0.1rem);
  transform: translateY(-0.1rem);
  -webkit-box-shadow: 0 1rem 2rem #000000;
  box-shadow: 0 1rem 2rem #000000; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }

.btn-header {
  position: absolute; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

/* Main Nav*/
.main-nav {
  float: right;
  list-style: none;
  margin-top: 5.5rem;
  margin-right: 5rem; }

.main-nav li {
  display: inline-block;
  margin-left: 4rem; }

.main-nav li a:link, .main-nav li a:visited {
  font-weight: 700;
  /*   padding: 1rem; */
  color: #fff;
  text-decoration: none;
  /*   text-transform: uppercase; */
  font-size: 1.5rem;
  border-bottom: 0.2rem solid transparent;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s; }

.main-nav li a:hover, .main-nav li a:active {
  border-bottom: 0.2rem solid #e67e22; }

.header {
  width: 100%;
  height: 100vh;
  /* Safari */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header div {
  /* Safari 6.1+ */
  -ms-flex: 1;
  /* IE 10 */
  -webkit-box-flex: 1;
  flex: 1; }

.right {
  background: var(--color-background); }

.left {
  background: white;
  position: relative; }

.logo {
  margin: 2rem 5rem;
  width: 8rem;
  height: auto;
  position: absolute; }

.hero-text-box {
  text-align: left;
  position: absolute;
  margin: 8rem 5rem; }

.hero-text-main {
  letter-spacing: 0.2rem;
  font-size: 5rem;
  color: var(--color-hero-text-main);
  font-weight: 900;
  text-shadow: -0.1rem 0 var(--color-hero-text-main), 0 0.1rem var(--color-hero-text-main), 0.1rem 0 var(--color-hero-text-main), 0 -0.1rem var(--color-hero-text-main), -0.1rem -0.1rem var(--color-hero-text-main), 0.1rem 0.1rem var(--color-hero-text-main), -0.1rem 0.1rem var(--color-hero-text-main), 0.1rem -0.1rem var(--color-hero-text-main); }

.hero-text-p {
  font-size: 2rem;
  color: var(--color-hero-text-p);
  margin: 3rem 0;
  line-height: 1.4;
  font-weight: 700; }

.mini-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: var(--color-mini-footer);
  padding: 5%; }

.mini-footer a {
  text-decoration: none; }

.mini-footer p {
  color: white;
  font-weight: 700; }

.footer {
  background: var(--color-footer); }
  .footer__text-box {
    text-align: center;
    padding: 10rem 0 0 0; }
    .footer__text-box-h2 {
      color: white; }
  .footer__nav {
    text-align: center;
    padding: 0 0 10rem 0; }
    .footer__nav-item a {
      color: white;
      font-size: 1rem;
      text-decoration: none;
      font-weight: 900;
      font-style: normal;
      letter-spacing: .15em;
      line-height: 2em;
      text-transform: uppercase; }
  .footer__bottom {
    font-size: 1rem;
    text-align: center;
    color: var(--color-mini-footer); }
    .footer__bottom a {
      text-decoration: none;
      color: var(--color-mini-footer); }

section {
  padding: 8rem 0; }

.section-responsive {
  background: white; }

.section-features {
  background: white;
  position: relative; }

.section-features .row:nth-child(2) {
  margin-bottom: 10rem; }

.section-features .long-copy {
  margin-bottom: 3rem; }

.long-copy {
  text-align: center;
  line-height: 145%;
  width: 70%;
  margin-left: 15%; }

.box {
  padding: 1%; }

.section-profesjonalnie {
  background: linear-gradient(223deg, #52ff6c 0%, #ff63f5 100%); }

.title-text-box {
  text-align: center; }

.profesjonalnie-text-box {
  text-align: center; }

.profesjonalnie-text-box h2 {
  font-size: 12rem;
  color: white; }

.profesjonalnie-text-box p {
  font-size: 1.7rem;
  color: white;
  margin-top: 3rem; }

.section-portfolio {
  text-align: center;
  background: white; }

.image-box {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2); }

img {
  opacity: 0.9;
  width: 25rem;
  height: 45rem;
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s; }

img:hover {
  opacity: 1;
  -webkit-transform: scale(1.03);
  transform: scale(1.03); }

.steps-box:first-child {
  text-align: right;
  padding-right: 3%;
  margin-top: 30px; }

.steps-box:last-child {
  padding-left: 3%;
  margin-top: 70px; }

img.app-screen, img.app-screen:hover {
  opacity: 1;
  -webkit-transform: none;
  transform: none; }

.app-screen {
  width: 43%; }

.works-step {
  margin: 0 2rem 4rem 0; }
