*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 80vh repeat(6, min-content);
  grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end]; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 1.9rem; }
  .heading-1--light {
    color: #aaa; }

.heading-2 {
  font-size: 3.6rem; }
  .heading-2--light {
    color: #aaa; }

.heading-3 {
  font-size: 2.8rem; }
  .heading-3--light {
    color: #aaa; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #aaa; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.header {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: 1fr 1fr; }

.dlaczegomy {
  padding: 10rem;
  grid-column: full-start / full-end;
  text-align: center;
  background-color: #fcf9f9; }
  .dlaczegomy__text {
    font-size: 1.7rem;
    color: black; }

.wybierznas {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  align-items: start;
  padding: 10rem 0; }

.powod {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem; }
  .powod__icon {
    font-size: 5rem;
    grid-row: 1 / span 2;
    transform: translatey(-2.7rem);
    color: #ff8400; }
  .powod__text {
    font-size: 1.7rem;
    color: black; }

.responsywne__lewa {
  grid-column: full-start / col-end 4;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr); }

.responsywne__img--1 {
  width: 100%;
  grid-row: 2 / 6;
  grid-column: 2 / 6; }

.responsywne__prawa {
  background-color: #fafafa;
  grid-column: col-start 5 / full-end;
  padding: 6rem 10vw;
  display: grid;
  align-content: center;
  justify-items: start; }

.responsywne__text {
  font-size: 1.5rem;
  font-style: italic; }

.profesjonalne {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  align-items: start;
  padding: 10rem 0; }
  .profesjonalne .profheader {
    display: grid;
    text-align: center;
    grid-column: 1 / 4; }
  .profesjonalne .profpowod {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-row-gap: 1.5rem;
    grid-column-gap: 2.5rem;
    grid-row-start: 2; }
    .profesjonalne .profpowod__icon {
      font-size: 5rem;
      grid-row: 1 / span 2;
      transform: translatey(-2.7rem);
      color: #ff8400; }
    .profesjonalne .profpowod__text {
      font-size: 1.7rem;
      color: black; }

.banerprofesjonalnie {
  padding: 3rem;
  grid-column: full-start / full-end;
  text-align: center;
  background-color: #fcf9f9; }
  .banerprofesjonalnie .heading-baner {
    font-size: 10rem;
    color: black; }
  .banerprofesjonalnie .text-baner {
    font-size: 5rem;
    color: black; }

.cennik {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(1fr));
  grid-gap: 4rem;
  padding: 10rem 0; }
  .cennik .plan-box {
    border: 2px solid #626dff;
    transition: 0.2s;
    border-radius: 10px 10px 5rem;
    padding: 2rem;
    display: grid;
    grid-row-start: 2; }
    .cennik .plan-box ul > li {
      font-size: 1.5rem; }
    .cennik .plan-box .plan-price {
      font-size: 2rem;
      color: #ff6ef3; }
  .cennik .plan-box:hover {
    border: 2px solid #000b9e;
    box-shadow: 0 8px 6px -6px black; }

.cennik-text-box {
  text-align: center;
  grid-column: 1 / 5; }

.portfolio {
  background-color: #ff00d4;
  grid-column: full-start / full-end; }

.footer {
  grid-column: full-start / full-end;
  color: #aaa;
  font-size: 1.4rem;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); }

.copyright {
  color: #aaa;
  font-size: 1.4rem;
  margin-top: 6rem;
  text-align: center; }
