@import url("https://fonts.googleapis.com/css?family=Lato:100,300,300i,400");

//Colors

$color-right-header:
repeating-linear-gradient(190deg, rgba(255, 0, 0, 0.5) 40px,
rgba(255, 153, 0, 0.5) 8rem, rgba(255, 255, 0, 0.5) 12rem,
rgba(0, 255, 0, 0.5) 160px, rgba(0, 0, 255, 0.5) 200px,
rgba(75, 0, 130, 0.5) 240px, rgba(238, 130, 238, 0.5) 28rem,
rgba(255, 0, 0, 0.5) 300px),
repeating-linear-gradient(-190deg, rgba(255, 0, 0, 0.5) 3rem,
rgba(255, 153, 0, 0.5) 60px, rgba(255, 255, 0, 0.5) 90px,
rgba(0, 255, 0, 0.5) 12rem, rgba(0, 0, 255, 0.5) 150px,
rgba(75, 0, 130, 0.5) 18rem, rgba(238, 130, 238, 0.5) 21rem,
rgba(255, 0, 0, 0.5) 23rem),
repeating-linear-gradient(23deg, red 50px, orange 10rem, yellow 150px, green 200px, blue 250px,indigo 300px, violet 350px, red 370px);
$color-hero-text-main: rgb(86, 61, 91);
$color-hero-text-p: #A38FA7;
$color-profesjonalnie-background: linear-gradient(223deg, rgba(82,255,108,1) 0%, rgba(255,99,245,1) 100%);
$color-button: linear-gradient(223deg, rgba(82,255,108,1) 0%, rgba(255,99,245,1) 100%); 
$color-background : rgb(255, 255, 255);
$color-section-background : rgb(250, 250, 250);
$color-h2:rgb(0, 0, 0);
$color-h3:rgb(192, 192, 192);
$color-box-p:rgb(105, 105, 105);
$color-footer:#191919;
$color-mini-footer: #D0D0D0;
$color-icon: rgb(0, 0, 0);

//FONT

$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;