.banerprofesjonalnie {
        padding: 3rem;
        grid-column: full-start / full-end;

        text-align: center;
      
        background-color: rgb(222, 232, 245);
      .heading-baner{
          font-size: 10rem;
          color: rgb(0, 0, 0);
      }

      .text-baner{
        font-size: 5rem;
        color: rgb(0, 0, 0);
    }
}