// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #0c1b2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

$color-heading-2: rgb(81, 100, 255);

$color-black: rgb(0, 0, 0);

$color-icon: rgb(53, 113, 239);

$color-paragraf: rgb(100, 100, 100);

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

$color-btn-header: rgb(248,214,0);

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62,5% -> 1rem = 10px
}

body {
    font-family: $font-primary;
    color: $color-paragraf;
    font-weight: 300;
    line-height: 1.6;
}

.container {
    display: grid;
    grid-template-rows: 80vh repeat(8, min-content);
    grid-template-columns: [full-start] 1fr [center-start] repeat(8,[col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end];

    // & > * {
    //     padding: 5rem 10rem;
    // }
}