.header {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  @media only screen and (max-width: $bp-largest) {
    grid-column: 1 / -1;
  }

  .navbar {
    padding-top: 5rem;
    display: grid;
    grid-column: 1 / 9;
    grid-template-columns: 1fr 1fr;

    .logo {
      height: 4rem;
      width: auto;
      justify-self: start;
      margin-left: 3rem;
    }

    .main-nav {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-self: stretch;
      grid-gap: 1;
      font-size: 2rem;
      list-style-type: none;
      @media only screen and (max-width: $bp-larg) {
        display: none;
      }

      // .btn-navbar {
      //   margin: 0;
      //   padding: 0 2rem;
      //   font-size: 1.7rem;
      //   color: white;
      // }

      a {
        text-decoration: none;
        color: $color-heading-2;
        border-bottom: 0.2rem solid transparent;
        -webkit-transition: border-bottom 0.2s;
        transition: border-bottom 0.2s;
      }

      a:hover {
        border-bottom: 0.2rem solid $color-btn-header;
      }
    }
  }

  &__image {
    grid-row: 2 / 3;
    grid-column: 5 / 8;

    img {
      width: 100%;
    }
    @media only screen and (max-width: $bp-largest) {
      grid-column: 5 / 9;
      width: 90%;
    }
  }

  &__text-box {
    grid-row: 2 / 3;
    grid-column: 2 / 5;
    padding: 0 5rem;

    @media only screen and (max-width: $bp-largest) {
      grid-column: 1 / 5;
    }
  }

  &__main-nav {
    display: grid;
    justify-items: center;
    text-align: center;
    grid-column: 3 / 5;
  }
}
