.wybierznas {
  grid-column: center-start / center-end;

  display: grid;
  //   grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  // align-items: start;
  padding: 10rem 0;

  text-align: center;

  .profheader {
    display: grid;
    text-align: center;
    grid-column: 1 / 4;
  }

  .wybierzpowod {
    &__text {
      font-size: 1.7rem;
    }
  }
}
