.footer {
  background: $color-footer;

  &__text-box {
    text-align: center;
    padding: 10rem 0 0 0;

    &-h2 {
      color: white;
    }
  }

  &__nav {
    text-align: center;
    padding: 0 0 10rem 0;

    &-item a {
      color: white;
      font-size: 1rem;
      text-decoration: none;
      font-weight: 900;
      font-style: normal;
      letter-spacing: 0.15em;
      line-height: 2em;
      text-transform: uppercase;
    }
  }

  &__bottom {
      margin: 2rem 0;
    font-size: 1rem;
    text-align: center;
    color: $color-mini-footer;
    a {
      text-decoration: none;
      color: $color-mini-footer;
    }
  }
}
