

.header {
  padding: 3rem;
  background: $color-profesjonalnie-background;
  width: 100%;
  height: 100vh; /* Safari */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  @include respond(tab-land) {
    padding: 0;
  }
}

// .header div {  /* Safari 6.1+ */
//     -ms-flex: 1;  /* IE 10 */
//     -webkit-box-flex: 1;
//     flex: 1;
// }

.right {
  -ms-flex: 1; /* IE 10 */
  -webkit-box-flex: 1;
  flex: 1;
  background: $color-right-header;

  @include respond(phone) {
  }

  @include respond(tab-land) {
  }

  @include respond(tab-port) {
    //   font-size: 50%; /* 1 rem = 8px, 8px/16px * 100 = 50% */
    display: none;
  }

  @include respond(big-desktop) {
    //   font-size: 75%; /* 1 rem = 12px, 12x/16px * 100 = 75% */
  }
}

.left {
  -ms-flex: 1; /* IE 10 */
  -webkit-box-flex: 1;
  flex: 1;
  background: white;
  position: relative;
}

.logo {
  margin: 2rem 5rem;
  width: 8rem;
  height: auto;
  //   position: absolute;
}

.hero-text-box {
  text-align: left;
  position: absolute;
  margin: 2rem 5rem;

  @include respond(tab-port) {
    margin: 1rem 5rem;
   
  }
}

.hero-text-main {
  letter-spacing: 0.2rem;
  font-size: 5rem;
  color: $color-hero-text-main;
  font-weight: 900;
  text-shadow: -0.1rem 0 $color-hero-text-main, 0 0.1rem $color-hero-text-main,
    0.1rem 0 $color-hero-text-main, 0 -0.1rem $color-hero-text-main,
    -0.1rem -0.1rem $color-hero-text-main, 0.1rem 0.1rem $color-hero-text-main,
    -0.1rem 0.1rem $color-hero-text-main, 0.1rem -0.1rem $color-hero-text-main;

    @include respond(tab-land) {
      font-size: 3.5rem;
    }
}

.hero-text-p {
  font-size: 2rem;
  color: $color-hero-text-p;
  margin: 3rem 0;
  line-height: 1.4;
  font-weight: 700;
  @include respond(tab-land) {
    font-size: 1.8rem;
  }
}

.mini-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: $color-mini-footer;
  padding: 5%;
}

.mini-footer a {
  text-decoration: none;
}

.mini-footer p {
  color: white;
  font-weight: 700;
}
