/* Main Nav*/

.main-nav {
  float: right;
  list-style: none;
  margin-top: 5.5rem;
  margin-right: 5rem;
}

.main-nav li {
  display: inline-block;
  margin-left: 4rem;
}

.main-nav li a:link, .main-nav li a:visited {
  font-weight: 700;
/*   padding: 1rem; */
  color: #fff;
  text-decoration: none;
/*   text-transform: uppercase; */
  font-size: 1.5rem;
  border-bottom: 0.2rem solid transparent;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover, .main-nav li a:active {
  border-bottom: 0.2rem solid #e67e22;
}
