.btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    font-size: 2rem;
    background: $color-button;
    color: white;
    font-weight: 700;
    margin: 3rem 0; }
  
  .btn:hover {
    -webkit-transform: translateY(-0.3rem);
    transform: translateY(-0.3rem);
    -webkit-box-shadow: 0 1rem 2rem #000000;
    box-shadow: 0 1rem 2rem #000000; }
  
  .btn:active {
    -webkit-transform: translateY(-0.1rem);
    transform: translateY(-0.1rem);
    -webkit-box-shadow: 0 1rem 2rem #000000;
    box-shadow: 0 1rem 2rem #000000; }
  
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: all 0.4s;
    transition: all 0.4s; }
  
  .btn-header {
    position: absolute; }