

section {
  padding: 8rem 0;
}

.section-responsive{
    background: white;
}

.section-features{
  position: relative;

}

.section-features .row:nth-child(2){

  margin-bottom: 10rem;

}

.section-features .long-copy {
  margin-bottom: 3rem;
}



.long-copy {
    text-align: center;
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

.box {
  padding: 1%;
}



.section-profesjonalnie {
  background: $color-profesjonalnie-background;
  
}

.title-text-box {
  text-align: center;
}

.profesjonalnie-text-box{
  text-align: center;
}

.profesjonalnie-text-box h2{
    font-size: 12rem;
    color: white;

    @include respond(phone) {

      // font-size: 6rem;
    }
  

    @include respond(tab-land) {

      font-size: 7rem;
    }

    @include respond(tab-port) {
      //   font-size: 50%; /* 1 rem = 8px, 8px/16px * 100 = 50% */
      font-size: 4rem;
    }

}

.profesjonalnie-text-box p{
  font-size: 1.7rem;
  color: white;
  margin-top: 3rem;
}

.section-portfolio {
text-align: center;
background: white;
   }

.image-box {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
  -webkit-box-shadow: 0 2px 6px 0 hsla(0,0%,0%,0.2);
          box-shadow: 0 2px 6px 0 hsla(0,0%,0%,0.2);
}


img {
  opacity: 0.9;
  // width: 25rem;
  // height: 45rem;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

img:hover {
  opacity: 1;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.steps-box {
  // text-align: right;
  // padding-right: 3%;
  // margin-top: 30px;
}

// .steps-box:last-child {
//   padding-left: 3%;
//   margin-top: 70px;
// }


img.app-screen, img.app-screen:hover {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
}

.app-screen {
  width: 90%;
}

.works-step {
  margin:0 2rem 4rem 0;
}
